<p>checklistpool works!</p>
<div class = "container">
    <table mat-table [dataSource]="dataSource" class = "mat-elevation-z8" >
       <!-- Position Column -->
     <ng-container matColumnDef="checklistpoolPK">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.checklistpoolPK}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="dataitemPoolFK">
        <th mat-header-cell *matHeaderCellDef> Data Item </th>
        <td mat-cell *matCellDef="let element"> {{element.dataitemPoolFK}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="checklistFK">
        <th mat-header-cell *matHeaderCellDef> checklist </th>
        <td mat-cell *matCellDef="let element"> {{element.checklistFK}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
      </ng-container>
      <!-- Get Details -->
     <!--  <ng-container matColumnDef="getdetails">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="getRecord()">Get Details</button> </td>
      </ng-container> -->
  
    
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnss;"></tr>
    </table>
    
    