<div class="container2">
    <div class="row">
        
        <div class="col-6 chart">
    <canvas id="chartPie" width="700px" height="500px" ></canvas>
        </div> </div>
</div>

<div class="boxed">
<div class="container">
    <div class="row">
        
        <div class="col-6 chart">
            <canvas id="chartContainer" width="700px" height="500px" (click) = "click(assetId)" ></canvas>
            
        
    </div>
        
        <div class="col-6 chart">
            <canvas id="chartContainers"width="700px" height="500px"></canvas>
            </div>
         
    </div>
    
</div>
<!-- For pagination -->
<div class="container">
    <div class="row">
        <div class="col-6 chart">
<div>
<mat-paginator [length]="lengths"
              [pageSize]="pageSize"
              
              (page)="pageEvents = $event" (click)="nextItems(pageSize,pageEvents)">
</mat-paginator></div></div>
<div class="col-6 chart">
<div>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              
              (page)="pageEvent = $event" (click)="nextItemss(pageSize,pageEvent)" >
</mat-paginator></div>
</div>
</div>
</div>
</div>





        
       
        
       
    
