<div class="boxed">


<div class="container">
    <div class="row">
        <div class="col-6 chart">
<div style="margin-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;">
<mat-paginator [length]="lengths"
              [pageSize]="pageSize"
              
              (page)="pageEvents = $event" (click)="nextItems(pageSize,pageEvents)">
</mat-paginator></div></div>
<div class="col-6 chart">
<div style="margin-left: 0px;
    padding-right: 00px;
    padding-bottom: 00px;">
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              
              (page)="pageEvent = $event" (click)="nextItemss(pageSize,pageEvent)" >
</mat-paginator></div>
</div>
</div>
</div>
<div class="container">
    <div class="row">
        
        <div class="col-6 chart">
            <canvas id="chartContainer" width="500px" height="500px"></canvas>
            
        </div>
        
        <div class="col-6 chart">
            <canvas id="chartContainers"width="500px" height="500px"></canvas>
            </div>
         
    </div>
    
</div>

</div>