<p>edit-checklist works!</p>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">


  <!-- <h1>Enter the new poolfrequency</h1>
  <ng-container *ngFor="let tpp of poolfrequency; index as i">
    <div>
      <input placeholder="{{tpp.poolfrequency/24}}" [(ngModel)]="tpp.fieldValue" name="first" required />
    </div>
  </ng-container> -->


  <div class="form-group">
    <label></label>
    <h1>poolfrequency for checklists</h1>
    <select class="form-control" *ngFor="let tpp of poolfrequency" ng-selected="selectedValue"
      [(ngModel)]="selectedValue" name="poolfrequency" required>

      <!-- <option  selected value = "Choose"disabled>choose duration for maintenance</option> -->
      <option selected value="Daily">Daily</option>
      <option selected value="Weekly">Weekly</option>
      <option selected value="Monthly">Monthly</option>
      <option selected value="others">Others- Please Specify Below</option>
    </select>
  </div>
  <div *ngIf="selectedValue == 'Daily'">
    <label for="daily">Daily</label>
    <input type="number" class="form-control" id="daily" name="daily" value="1" readonly required>
  </div>
  <div *ngIf="selectedValue == 'Weekly'">
    <label for="weekly">Weekly</label>
    <input type="number" class="form-control" id="weekly" name="weekly" value="7" readonly required>
  </div>
  <div *ngIf="selectedValue == 'Monthly'">
    <label for="monthly">Monthly</label>
    <input type="number" class="form-control" id="monthly" name="monthly" value="30" readonly required>
  </div>
  <div *ngIf="selectedValue == 'others'">
    <label for="name">No. of days</label>
    <input type="number" class="form-control" id="name" [(ngModel)]= "other_poolfrequency" name="other_poolfrequency" value="other_poolfrequency"
      required>
  </div>

  <div class="form-group">
    <h1>No of times to be performed</h1>
    <div>
      <input type="number" *ngFor="let tpp of poolfrequency" [(ngModel)]="tpp.fieldValue1" name="first1" min="1"
        step="1" placeholder="{{tpp.poolfrequencyRate}}">
    </div>
  </div>

  <div *ngFor="let tpp of checkboxes ;let i = index " >
  <mat-checkbox  [checked]="tpp.selectedValue===1"  
    (click)="toggleSelection($event, checkboxes[i],index)">{{tpp.checklistField}}
  </mat-checkbox>
</div>
  <br>
  <button [disabled]= "userForm.form.invalid" mat-dialog-close type ="submit"  class="btn btn-primary"> Update </button>
</form>